.hero-swiper .swiper-slide .inner {
	position: relative;
	padding-block: 60px;
	background: rgb(0 0 0 / 40%);
}
.hero-swiper .swiper-slide .container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 400px;
}
.hero-swiper .swiper-slide img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.hero-swiper .swiper-slide h2 {
	color: #fff;
}

.hero-swiper .swiper-pagination-bullet{
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: #FFF;
    --swiper-pagination-bullet-inactive-opacity: .5;
}
