.hero-swiper {
	--swiper-navigation-color: #ffe800;
	--swiper-pagination-color: #ffe800;
  	--swiper-pagination-bullet-width: 10px;
	--swiper-pagination-bullet-height: 10px;
	--swiper-pagination-bullet-inactive-color: #fff;
	--swiper-pagination-bullet-inactive-opacity: 0.5;
  	--swiper-navigation-size: 25px;
}
.hero-swiper .swiper-slide .inner {
    position: relative;
    background: rgb(0 0 0 / 40%);
}

.hero-swiper .swiper-slide .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  	padding: 60px 40px;
 	min-height: var(--content-height-mobile, 350px);
}
@media (min-width: 768px){
    .hero-swiper .swiper-slide .container {
    	min-height: var(--content-height-tablet, 400px);
    }
}
@media (min-width: 1024px){
  	.hero-swiper{
    	--swiper-navigation-size: 40px;
    }
    .hero-swiper .swiper-slide .container {
    	min-height: var(--content-height, 500px);
    }
}
@media (min-width: 1366px){
    .hero-swiper .swiper-slide .container {
    	min-height: calc(100vh - 200px);
    }
}

.hero-swiper .swiper-slide .container{
  	max-width: var(--container-width, 1200px);
}
.hero-swiper .swiper-slide .container.content-align-left{
    align-items: flex-start;
}
.hero-swiper .swiper-slide .container.content-align-center{
    align-items: center;
}
.hero-swiper .swiper-slide .container.content-align-right{
    align-items: flex-end;
}

.hero-swiper .swiper-slide .content-wrapper {
  	width: var(--content-width, 500);
    max-width: 100%;
}
.hero-swiper .swiper-slide .content-wrapper.txt-align-left {
    text-align: left;
}
.hero-swiper .swiper-slide .content-wrapper.txt-align-center {
    text-align: center;
}
.hero-swiper .swiper-slide .content-wrapper.txt-align-right {
    text-align: right;
}

.hero-swiper .swiper-slide img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.hero-swiper .swiper-slide h2,
.hero-swiper .swiper-slide .hero-description {
	color: #fff;
}
.hero-swiper .swiper-slide h2{
  	line-height: 1.3;
}
.hero-swiper .swiper-slide .hero-description{
    font-size: 20px;
}
  
@media (max-width: 767px){
  .hero-swiper .swiper-slide h2{
  	font-size: 23px;
  }
  .hero-swiper .swiper-slide .hero-description{
  	font-size: 16px;
  }
}

.hero-swiper .hero-btn {
    color: #000;
	text-transform: none;
	font-size: 18px;
	font-weight: 900;
	border: 2px solid #ffe800;
	padding: 0.75rem 1.5rem;
	width: auto;
	background: #ffe800;
	margin-top: 1rem;
    display: inline-block;
}
.hero-swiper .hero-btn:hover {
    background: #FFF;
}

.hero-swiper {
	display: none !important;
}


.services-item .media-body {
	min-height: 300px;
}

.tecweld-hero .product-card__info {
	min-height: 5rem!important;
}