@mixin mobile-down() {
  @media (max-width: 450px) {
    @content;
  }
}

@media (max-width: 450px) {

  .tecweld-hero {
    .parallax-banner {
      &__meta {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      &__wrapper {
        background-size: cover;
      }
    }
  }

  .header-bottom {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-1-menu {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
}

.tmenu_item {
  &_text {
    text-transform: capitalize !important;
  }
}

.header-1-menu {
  padding-top: 0;
  padding-bottom: 0;
  border: none !important;
}

#search-filter {
  padding: 80px 0 !important;
}

.breadcrumb {
  border-radius: 0;
}

.collection-sidebar {
  background: #221F20;
  padding-left: 0;
  padding-right: 0;

  > div {
    padding-top: 0 !important;
  }

  h5 {
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    background: #004A84;
    color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 2rem;
    display: flex;
    align-items: center;

    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
  }

  .categories_block {
    padding-top: 0;
  }

  #ul_list_categories {
    padding-left: 0;
    padding-right: 0;
    li {
      a {
        color: #fff;
      }
    }
  }
}

.collection-sidebar {
  min-width: 19rem;
  h5 {
    &:after {
      top: 15px !important;
    }
  }

  > div {
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  #ul_list_categories {
    margin-top: 0 !important;
  }

  .catalog_filters {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
  }

  .block-content {
    ul {
      margin-top: 0 !important;
    }
  }

  .catalog_filters {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 0;
    border-bottom: 0;
  }

  .catalog_filter_ul {
    padding-left: 1rem!important;
    margin-top: 0 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem;
  }

  li {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  a {
    color: #ffffff;
  }
}

.g-breadcrumb {
  a {
    color: #fff !important;
    font-weight: 900;
  }
}

.product-form__item--submit {
  .product-form__cart-submit {
    background: #FFEA00;
    color: #000;
    &:hover {
      background: #012c3c;
      color: #fff;
    }
  }
}

.product-card {
  border: 1px solid #a8a8a82b !important;
  padding-left: 1rem;
  padding-right: 1rem;
}

.support_line {
  .text {
    color: #012c3c;
    display: block;
    line-height: 16px;
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 6px;
  }

  svg {
    margin-right: 9px;
    margin-top: 10px;
    float: left;
    width: 29px;
    height: 34px;
  }
}

#search-filter {
  .searchform {
    &:before {
      content: ' ';
    }


    select {
      background: linear-gradient(135deg,#222222 0%,#222222 50%,#002c3c 51%,#002c3c 71%,#002c3c 100%);
      border-bottom: 1px solid #002c3c;
      &:before {
        content: ' ';
        border-top: 7px solid #fff !important;
      }
    }
  }
}

.product-single {
  &__hero {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 22rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 2rem;
    position: relative;
    &:before {
      content: ' ';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      right: 0;
      bottom: 0;
      background: #012c3cb5;
    }
    h1 {
      color: #fff;
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5em;
      font-weight: 800;
      z-index: 1;
    }

  }
}

.style-search {
  border: 1px solid #012c3c !important;
}

.site-header {
  &__search-submit {
    background: #002c3c !important;
    svg {
      color: #fff !important;
    }
  }
  #SiteNavSearch {
    color: #002c3c !important;
  }

  #SiteNavSearch::placeholder {
    color: #002c3c !important;
    font-weight: 900 !important;
  }
}


.tecweld-hero {
  .product-card {
    &__info {
      height: 100%;
      min-height: unset !important;
    }
    &__image-wr {
      position: relative;
      min-height: 13rem;
    }
  }
  .product-card__info {
    height: 100%;
    min-height: 12rem !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 4rem;
  }
}

.product-card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-top: 1rem;
  min-height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;

  &__image {
    display: flex !important;
    justify-content: center !important;
    img {
      width: 90%;
      display: block;
      height: 100%;
      object-position: center center;
      min-height: 17rem;
      object-fit: contain;
    }
  }

  .tecweld-hero {
    .section-title-2 {
      display: flex;
      justify-content: center;
      padding-bottom: 1rem !important;
      text-align: center;
    }
  }

  &__name {
    color: #000;
    font-size: 17px;
  }
}

.badge-light {
  background-color: #fff;
  color: #000;
  padding-top: 0.3rem;
}

.js-sidebar.active {
  @media (max-width: 450px) {
    width: auto !important;
    padding: 0 !important;
  }
}

#search-filter {
  @media (max-width: 450px) {
    padding-top: 2.5rem !important;
    padding-bottom: 1rem !important;
    background-size: cover !important;
  }
}

.site-header {
  &__logo {
    img {
      @media (max-width: 450px) {
        width: auto !important;
      }
    }
  }
}

.right-col-cta {
  @include mobile-down() {
    padding: 3rem;
  }
}

.product-card__image img {
  min-height: 18rem;
  object-fit: contain;
}

.product-card {
  min-height: 27rem !important;
}

.product-card__image img {
  min-height: 25rem !important;
  object-fit: contain !important;
}

.product-card__image {
  min-height: 11rem;
}

.tecweld-hero h3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.tecweld-hero .slick-list {
  display: flex;
  justify-content: center;
}